.loading_container {
    width: fit-content;
    display: flex;
    margin-bottom: 100px;
}

/* dots */
.dot {
    height: 15px;
    width: 15px;
    margin: 12px;
    border-radius: 8px;
    background-color: lightgrey;
    animation: jump .9s ease-in-out infinite;
}

/* up->down animation */
@keyframes jump {
    0% {transform: translateY(0px);}
    50% {transform: translateY(20px);}
    100% {transform: translateY(0px);}
}

/* dot-1 */
.dot_1{
 animation-delay: .4s;
}

/* dot-2 */
.dot_2{
    animation-delay: .5s;
}

/* dot-3 */
.dot_3{
    animation-delay: .6s;
}